{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Admin-login{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ tittle }}</h1>
</div>
<div class="col-md-4">
     {{ wtf.quick_form(form) }}
</div>
{% endblock %}
{% block scripts %}
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script> $(function() { $( ".dtpick" ).datepicker();}); </script>
{% endblock %}

