{% extends "base.html" %}

{% block title %}index{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>当前用户ID:  {% if current_user.is_authenticated %}{{ current_user.agencyid }}{% else %}无{% endif %}</h1>
</div>
{% if not current_user.is_authenticated %}
<div>
    <h1>请登录<a href="{{ url_for('auth.login') }}">登录</a></h1>
</div>
{% else %}
<ul class="list-group">
    {% if current_user.is_staff() %}
        <li class="list-group-item"> <a href="{{ url_for('main.admin_add_agency') }}">代理申请</a></li>
        <li class="list-group-item"> <a href="{{ url_for('main.admin_del_agency') }}">删除代理</a></li>
        <li class="list-group-item"> <a href="{{ url_for('main.admin_gm') }}">GM工具</a></li>
    {% else %}
        <li class="list-group-item"> <a href="{{ url_for('main.agency_modify_password') }}">修改密码</a></li>
    {% endif %}
    <!--
        <li class="list-group-item"> <a href="{{ url_for('main.add_player') }}">绑定玩家</a></li>
    -->
    {% if not current_user.is_viceadmin() %}
        <li class="list-group-item"> <a href="{{ url_for('main.agency_recharge') }}">代理金库充值</a></li>
    {% endif %}

        <li class="list-group-item"> <a href="{{ url_for('main.agency_financial_info') }}">代理查询</a></li>
        <li class="list-group-item"> <a href="{{ url_for('main.agency_financial_detail') }}">交易明细</a></li>
    {% if not current_user.is_viceadmin() %}
        <li class="list-group-item"> <a href="{{ url_for('main.player_recharge') }}">游戏玩家充值</a></li>
    {% endif %}
</ul>
{% endif %}
{% endblock %}
{% block scripts %}
{% endblock %}
