{% extends "base.html" %}

{% block title %}index{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>斗阵十三水后台管理系统, 当前用户ID:  {% if current_user.is_authenticated %}{{ current_user.agencyid }}{% else %}无{% endif %}</h1>
</div>
{% if not current_user.is_authenticated %}
<div>
    <h1>请登录<a href="{{ url_for('auth.login') }}">登录</a></h1>
</div>
{% else %}
<ul class="list-group">
    <li class="list-group-item"> <a href="{{ url_for('main.admin_add_agency') }}">设置代理</a></li>
    <li class="list-group-item"> <a href="{{ url_for('main.agency_recharge') }}">给代理金库充值</a></li>
    <li class="list-group-item"> <a href="{{ url_for('main.add_player') }}">设置玩家</a></li>
    <li class="list-group-item"> <a href="{{ url_for('main.player_recharge') }}">给玩家游戏账号充值</a></li>
    <li class="list-group-item"> <a href="{{ url_for('main.agency_financial_info') }}">下属钻石情况查询</a></li>
    <li class="list-group-item"> <a href="{{ url_for('main.agency_financial_detail') }}">代理钻石详情记录</a></li>
    <!--
        <li class="list-group-item"> <a href="{{ url_for('main.player_financial_detail') }}">玩家充值记录</a></li>
    -->
    <li class="list-group-item"> <a href="{{ url_for('main.admin_test') }}">GM工具</a></li>
</ul>
{% endif %}
{% endblock %}
{% block scripts %}
{% endblock %}
