{% extends "base.html" %}

{% block title %}index{% endblock %}

{% block page_content %}
<div>
    <h4> {{ info }} </h4>
    <h4> 共{{ records|length }}条 </h4>
    <h4> {{ ext_info }} </h4>
</div>
<table border="1">
    <tr> 
        <th>序号</th>
        {% for col  in cols %}
        <th>{{ col }} </th>
        {% endfor %}
    </tr>
    {% for row  in records %}
    <tr>
        <td align="right"> {{ loop.index }} </td>
        {% for value in row %}
        <td align="right"> {{ value }} </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<div>
    <h3>{{ msg }}</h3>
    <h3>  <a href="{{ next_url }}"> 继续</a>  <a href="{{ url_for('main.index') }}"> 返回</a>  </h3>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
